[gerrit]
	basePath = git
	serverId = d1f2e8a7-b3d9-4090-8979-7f329ac30946
	canonicalWebUrl = http://47.106.137.251:8089/
[database]
	type = h2
	database = /home/gerrit2/review_site/db/ReviewDB
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = root
	javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[index]
	type = LUCENE
[auth]
	type = OPENID
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = smtp.163.com
	smtpServerPort = 465
	smtpEncryption = ssl
	sslVerify = false
	smtpUser = qeexo_ci@163.com
	from = qeexo_ci@163.com
	smtpPass = qeexo123
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8089/
[cache]
	directory = cache
